
@{
    ViewData["Title"] = "Deneme";
}

<link href="d:\oop\proje_oop\proje_oop\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<link href="d:\oop\proje_oop\proje_oop\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.min.css" rel="stylesheet" />
<link href="d:\oop\proje_oop\proje_oop\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.css" rel="stylesheet" />
<link href="d:\oop\proje_oop\proje_oop\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />

<table class="table table-bordered"> 
    <tr>
        <th>#</th>
        <th>Ulke</th>
        <th>Şehir</th>
        <th>Nufüs</th>
        <th>Bayrak</th>
    </tr>
    <tr>
        <td>@ViewBag.s1</td>
        <td>@ViewBag.s4</td>
        <td>@ViewBag.s2</td>
        <td>@ViewBag.s3</td>
        <td>@ViewBag.b1 @ViewBag.b2</td>
    </tr>
    <tr>
        <td>@ViewBag.t1</td>
        <td>@ViewBag.t4</td>
        <td>@ViewBag.t2</td>
        <td>@ViewBag.t3</td>
        <td>@ViewBag.t5 @ViewBag.t6</td>
    </tr>
</table>
<a href="/Default/Urunler/" class="btn btn-info">Urunlere git</a>


